<mat-toolbar color="primary">
  <mat-icon>home_work</mat-icon>
  <span>SmartRent</span>
</mat-toolbar>

<nav class="menu-clases">
  <button mat-stroked-button routerLink="/users/list">Usuarios</button>
  <button mat-stroked-button routerLink="/roles/list">Roles</button>
  <button mat-stroked-button routerLink="/backgrounds/list">Antecedentes</button>
  <button mat-stroked-button routerLink="/estates/list">Inmuebles</button>
  <button mat-stroked-button routerLink="/favorites/list">Favoritos</button>
  <button mat-stroked-button routerLink="/contracts/list">Contratos</button>
  <button mat-stroked-button routerLink="/conversations/list">Conversaciones</button>
  <button mat-stroked-button routerLink="/messages/list">Mensajes</button>
  <button mat-stroked-button routerLink="/notifications/list">Notificaciones</button>
  <button mat-stroked-button routerLink="/reviews/list">Reseñas</button>
  <button mat-stroked-button routerLink="/risk-reports/list">Reportes de riesgo</button>
  <button mat-stroked-button routerLink="/risk-points/list">Puntos de riesgo</button>
  <button mat-stroked-button routerLink="/models3d/list">Modelos 3D</button>
</nav>
