<mat-toolbar color="primary">
  <mat-icon>home_work</mat-icon>
  <span>SmartRent</span>
</mat-toolbar>

<nav class="menu-clases">
  <button mat-stroked-button routerLink="/users/list">Usuarios</button>
  <button mat-stroked-button>Roles</button>
  <button mat-stroked-button>Antecedentes</button>
  <button mat-stroked-button>Inmuebles</button>
  <button mat-stroked-button>Favoritos</button>
  <button mat-stroked-button>Contratos</button>
  <button mat-stroked-button>Conversaciones</button>
  <button mat-stroked-button>Mensajes</button>
  <button mat-stroked-button>Notificaciones</button>
  <button mat-stroked-button>Reseñas</button>
  <button mat-stroked-button>Reportes de riesgo</button>
  <button mat-stroked-button>Puntos de riesgo</button>
  <button mat-stroked-button>Modelos 3D</button>
</nav>
